
<h1>Criar</h1>

<a href="#create" class="btn btn-primary">Ir para Listagem</a>

<form ng-submit="save()" class="form-horizontal" id="formVeiculos">
	<div class="form-group">
		<label for="modelo" class="col-lg-2 control-label">Fabricante</label>
		<div class="col-lg-10">
			<input type="text" class="form-control" ng-model="veiculo.fabricante"
				name="fabricante" placeholder="fabricante">
		</div>
	</div>
	<div class="form-group">
		<label for="modelo" class="col-lg-2 control-label">Modelo</label>
		<div class="col-lg-10">
			<input type="text" class="form-control" id="modelo"
				ng-model="veiculo.modelo" name="modelo" placeholder="modelo">
		</div>
	</div>
	<div class="form-group">
		<label for="ano" class="col-lg-2 control-label">Ano</label>
		<div class="col-lg-6">
			<input type="text" class="form-control" id="ano"
				ng-model="veiculo.ano" name="ano" placeholder="ano">
		</div>
	</div>
	<div class="form-group">
		<label for="ano" class="col-lg-2 control-label">Foto</label>
		<div class="col-lg-6">
			<input type="file" id="ano" data-rule-required="true" id="file"  accept=".jpg,.png,.jpeg"
				ng-model="veiculo.file" name="file" placeholder="ano">
		</div>
	</div>
	<button type="submit" class="btn btn-primary">Save</button>
</form>