
<h1>Lista</h1>
<a href="#create" class="btn btn-primary">Novo</a>
<table class="table">
	<thead>
		<tr>
			<th>Foto</th>
			<th>Fabricante</th>
			<th>Modelo</th>
			<th>Ano</th>
			<td colspan="2"></td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="veiculo in veiculos">
			<td><img alt="" ng-src="resources/images/{{veiculo.foto }}" width="150px"></td>
			<td>{{veiculo.fabricante}}</td>
			<td>{{veiculo.modelo}}</td>
			<td>{{veiculo.ano}}</td>
			<td><a href="#edit/{{veiculo.id}}">Editar</a></td>
			<td><a href="" ng-click="remover(veiculo.id)">Deletar</a></td>
		</tr>
	</tbody>
</table>
</body>
